/* SIDEBAR */
.sidebar {
    width: 280px;
    background-color: #111827;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 200;
}

.sidebar-header {
    text-align: center;
    padding: 20px;
    flex-shrink: 0;
}

.sidebar-header img {
    width: 64px;
    margin-bottom: 8px;
}

.sidebar-header h3 {
    font-size: 14px;
    text-transform: uppercase;
}

.sidebar-scrollable {
    flex: 1;
    overflow-y: auto;
    padding: 0 20px 20px 20px;
}

.sidebar-scrollable::-webkit-scrollbar {
    width: 6px;
}

.sidebar-scrollable::-webkit-scrollbar-thumb {
    background-color: #7f8c8d;
    border-radius: 3px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 10px;
    border-radius: 6px;
    transition: background 0.2s;
}

.sidebar li.active a {
    background-color: #E02A26;
    color: #ffffff;
}

.sidebar-menu li a:hover {
    background-color: #1f2937;
}

.sidebar-section-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #bdc3c7;
    margin: 20px 0 10px;
    padding-left: 10px;
}

/* Shift navbar right so it doesn't overlap the sidebar */
.navbar-fixed {
    margin-left: 280px;
    z-index: 1000;
    width: calc(100% - 280px);
}

/* Optional: adjust for mobile sidebar toggle */
@media (max-width: 768px) {
    .navbar-fixed {
        margin-left: 0;
        width: 100%;
    }
}

/* Sembunyikan toggle di desktop */
#menu-toggle {
    display: none;
}

/* Tampilkan toggle hanya di mobile */
@media (max-width: 768px) {
    #menu-toggle {
        display: inline-block;
    }
}


/* RESPONSIVE SIDEBAR */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }
}
